body {

}

div {
  width: 40%;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
  background: linear-gradient(to right, #D3D3D3, #FAFAFA, #D3D3D3);
  word-break: break-all;
}

@media (max-width: 1024px) {
  div {
    width: 60%;
  }
}

@media (max-width: 600px) {
  div {
    width: 80%;
  }
}
