<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Spec Runner</title>
</head>

<body>
    <!-- sandbox that tests can use for things that require the DOM -->
    <div id="mocha"></div>
    <script src="../node_modules/mocha/mocha.js"></script>
    <script src="/testem.js"></script>
    <script src="../node_modules/chai/chai.js"></script>
    <!--<script src="../node_modules/sinon/lib/sinon.js"></script> thse two now loaded in require config-->
    <!--<script src="../node_modules/sinon-chai/lib/sinon-chai.js"></script> -->

    <!-- Using RequireJS. Specs and config are done in spec-runner.js -->
    <script type="text/javascript" src="../static/libs/requirejs/require.js" data-main="spec_runner.js"></script>

    <script>
      // This script dynamically builds a list of test files to feed Testem
      // Note: Testem docs specified using mustache templates for this task
      mocha.setup('bdd'); // mandatory config for mocha
      var files = [];
      {{#serve_files}}files.push("../{{{src}}}");{{/serve_files}}
      require(files, function() {
        console.log("firing up the machine");            
        should = chai.should(); // make "should" available globally
        mocha.run(); // kick off mocha
      });
    </script>
</body>
</html>
