<h1>About</h1>

<p>This App is powered by Project Chronos' Semantic API. Project Chronos is an opensource project that aims to
  make users more aware of the importance of observing and exploring the Universe in terms of scientific and engineering
  skills. You can find our story here (http://www.projectchronos.org/blog/).</p>

<h2>Contributors</h2>

<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="../static/images/avatar.svg" alt="avatar">
    </div>
    <div class="content">
      <div class="header">Andrew</div>
      <div class="description">about...</div>
      <hr>
      <div class="extra content">
        <i class="twitter icon"></i> <i class="github icon"></i>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="../static/images/avatar.svg" alt="avatar">
    </div>
    <div class="content">
      <div class="header">Lorenzo</div>
      <div class="description">about...</div>
      <hr>
      <div class="extra content">
        <i class="twitter icon"></i> <i class="github icon"></i>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img src="../static/images/avatar.svg" alt="avatar">
    </div>
    <div class="content">
      <div class="header">Luis</div>
      <div class="description">about...</div>
      <hr>
      <div class="extra content">
        <i class="twitter icon"></i> <i class="github icon"></i>
      </div>
    </div>
  </div>
</div>