{{!-- {{['feed', 'tweet', 'media', 'link', 'pdf', 'paper', 'fb', 'movie']}} --}}

{{#if_eq type_of 'tweet'}}

<blockquote class="twitter-tweet" data-link-color="#9271da" lang="es">
  <a href="{{url}}"></a>

</blockquote>

{{else}}

  {{#if_eq type_of 'fb'}}
  <div class="fb-post" data-href="{{url}}" data-width="500"></div>

  {{else}}

  <h2><a href="{{url}}" _target="_blank">{{title}}</a></h2>
  <p>{{{abstract}}}</p>

  {{/if_eq}}

{{/if_eq}}

<div class="article-list-item-keywords {{#unless keywords}}hidden{{/unless}}" keywords-url="{{keywords_url}}">
  <strong>Keywords</strong>: {{ keywords }}
</div>